body {
  background-color: #008C72;
  background-attachment: fixed;
}

.Home-header {
    text-align: center;
    background-color: #008C72;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
.Title {
    position: absolute;
    top: 0vh !important;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10vw !important;
    font-weight: bold;
    text-align: center;
    color: #003840;
    font-family: "Exo 2", sans-serif;
    line-height: 0.8;
    letter-spacing: -0.04em;
}
  
.Sub_Title {
    text-align: center;
    top: 25vw;
    position: absolute;
    font-size: 3vw !important;
    text-align: center;
    color: #005A5B;
    font-family: "Esphimere Semi Bold", sans-serif;
    line-height: 0.8;
    letter-spacing: -0.04em;
}
  
.Bottom {
    position: absolute;
    bottom: 10vw;
    width: 100%;
    text-align: center;
}

.TestButton {
    position: absolute;
    bottom: 30vh;
    width: 100%;
    text-align: center;
}
  
.QuizButton {
    background-color: #007369;
    color: #003840;
    font-family: "Esphimere Semi Bold", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 2vw;
    font-size: 3vw;
    cursor: pointer;
    width: 30vw;
    height: 10vh;
    justify-content: center;
}
  
.QuizButton:hover {
    background-color: #005A5B;
}

.SpotButton {
    background-color: #007369;
    color: #003840;
    font-family: "Esphimere Semi Bold", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 2vw;
    font-size: 3vw;
    cursor: pointer;
    width: 50vw;
    height: 10vh;
    justify-content: center;
    margin-top: 5vh;
}
  
.SpotButton:hover {
    background-color: #005A5B;
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the value as needed to move the button higher */
    /* justify-content: space-between; */
    /* gap: 15px; Adjust the value as needed for the desired spacing */
  }
  